.~*
.build
.cache/
.fuse_hidden*
.qmake.stash
.tmp_versions/
.vs
.vscode
.*.swo
.*.swp


*.a
*.aux
*.bk
*.bak
*.cmd
*.d
!conf.d
!init.d
!profile.d
*.dat
*.dtb
*.dtbo
*.elf
*.fdb_latexmk
*.fls
*.i
*.ko
*.lib
*.log
*.mod
*.mod.c
*.o
*.obj
*.pb.cc
*.pb.h
*.pdb
*.plist
*.priv.*
*.pyc
*.so
*.so.*
*.synctex.gz
*.tmp
*.toc
*_pb2.py


CMakeCache.txt
CMakeFiles
Module.symvers
a.out
bin/
cmake_install.cmake
compile_commands.json
core.*
cscope.files
cscope.in.out
cscope.out
cscope.po.out
gccdump.s
lazy_coding
lazy_coding_skills
log/
logs/
moc_*.h
moc_*.cpp
modules.order
obj/
QtMakefile
tags
ui_*.h


<stdin>.s


_tmp_
__pycache__

